.Card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.Card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Card p {
  font-size: 20px;
  font-weight: 600;
}